@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'DIN-Condensed';
	src: url('../public/DIN Condensed Web.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
